<section class="footer">
  <div class="social">
    <a href="mailto:valerio.lucantonio@gmail.com" target="_blank">
      <img class="icon" src="./assets/gmail.svg" />
    </a>
    <a href="https://www.linkedin.com/in/valerio-lucantonio/" target="_blank">
      <img class="icon" src="./assets/linkedin2.svg" />
    </a>
    <a href="https://www.instagram.com/merlinone/" target="_blank">
      <img class="icon" src="./assets/instagram.svg" />
    </a>
    <a href="https://www.facebook.com/valerio.lucantonio/" target="_blank">
      <img class="icon" src="./assets/facebook2.svg" />
    </a>
    <a href="./assets/resume.pdf" download>
      <img class="icon" src="./assets/pdf.svg" />
    </a>
    <div class="separator"></div>
  </div>

  <div class="email">
    <a class="email-address" href="mailto:valerio.lucantonio@gmail.com" target="_blank">
      valerio.lucantonio@gmail.com
    </a>
    <div class="separator"></div>
  </div>

  <div class="copyright">Built & Designed by Valerio Lucantonio</div>
</section>
