.home {
    background-image: url("home.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.home-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0,0,0,0.5); 
}

.home-text {
    color: white;
    text-align: center;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
h1.name {
    font-size: 48px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}
