<app-menu source="assets/config/menu.json"></app-menu>
<app-landing landing="assets/config/landing.json" contacts="assets/config/contacts.json"></app-landing>
<app-section source="assets/config/about.json"></app-section>
<div class="parallax parallax-image-1"></div>
<app-section source="assets/config/experience.json"></app-section>
<div class="parallax parallax-image-2"></div>
<app-section source="assets/config/education.json"></app-section>
<div class="parallax parallax-image-3"></div>
<app-skills source="assets/config/skills.json"></app-skills>
<app-footer source="assets/config/contacts.json"></app-footer>