.skillset-row {
    margin-top: 40px;
}

.skillset-col {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.skillset-content {
    margin: 0 16px;
}

.skill-name {
    display: inline-block;
    width: 100px;
}

::ng-deep.ant-rate {
    color: #1890ff;
}