<section class="skills text-center" id="skills">
    <h1 nz-title>{{skills.title}}</h1>
    <div nz-row nzType="flex" class="skillset-row" nzJustify="center" *ngFor="let skillSet of skills.skillsets">
        <div nz-col [nzSpan]="24">
            <h2>{{skillSet.name}}</h2>
        </div>
        <div nz-col [nzSpan]="24" class="skillset-col text-left">
            <div *ngFor="let skills of skillSet.skills" class="skillset-content">
                <div *ngFor="let skill of skills">
                    <span>
                        <span class="skill-name">{{skill.name}}</span>
                        <nz-rate [(ngModel)]="skill.rank" nzDisabled></nz-rate>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>