ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 2.5%;
  text-align: left;
  min-width: 28%;
}
li {
  overflow-x: visible;
  white-space: nowrap;
}
.skill-name {
  line-height: 1.5;
  overflow-x: visible;
  white-space: nowrap;
}    
.skill-range {
  line-height: 1.5;
  float:right;
  overflow-x: visible;
  white-space: nowrap;
  display: inline-block;
  color: #5e5d5d;
}
.icons {
  line-height: 1.5;
  float: left;
}

@media screen and (min-width: 1500px) {
  .skill-name,
  .icons {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .skill-name,
  .icons {
    font-size: 2rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
 .skill-name,
 .icons {
  	font-size: 2rem;
  }
}  

@media screen and (max-width: 500px) {
  .skill-name,
  .icons {
  	font-size: 1.5rem;
  }
}  