<div nz-row nzType="flex" nzGutter="16" nzJustify="center" *ngFor="let section of section.sections" class="section-row">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24" class="section-header">
        <img [style.height.px]="size" [style.width.px]="size" src="{{section.image}}">
        <div class="section-detail-container" [style.height.px]="size">
            <div class="section-detail" *ngFor="let detail of section.details">
                <span nzEllipsis>
                    <i nz-icon [nzType]="detail.icon" nzTheme="outline"></i>
                    {{detail.description}}
                </span>
            </div>
        </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="18" [nzXl]="15" [nzXXl]="17" class="text-center">
        <nz-divider></nz-divider>
        {{section.description}}
    </div>
</div>